{
  "extends": ["@carlsberg/eslint-config-carlsberg"],
  "rules": {
    "import/no-extraneous-dependencies": "off"
  },
  "overrides": [
    {
      "files": ["*.stories.tsx"],
      "rules": {
        "no-alert": "off"
      }
    }
  ]
}
