{
  "extends": ["@carlsberg/eslint-config-carlsberg"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-unused-vars-experimental": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "overrides": [
    {
      "files": ["*.stories.tsx"],
      "rules": {
        "no-alert": "off"
      }
    },
    {
      "files": ["./scripts/**/*.mjs"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["./cypress/**/*.ts"],
      "globals": {
        "Cypress": "readonly",
        "cy": "readonly"
      },
      "rules": {
        "jest/expect-expect": "off",
        "import/extensions": "off",
        "testing-library/prefer-screen-queries": "off",
        "testing-library/await-async-utils": "off",
        "import/no-unresolved": ["error", { "ignore": ["@/cypress"] }],
        "import/order": "off"
      }
    }
  ]
}
