{
  "extends": ["@carlsberg/eslint-config-carlsberg"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-unused-vars-experimental": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "overrides": [
    {
      "files": ["*.stories.tsx"],
      "rules": {
        "no-alert": "off"
      }
    },
    {
      "files": ["./scripts/**/*.mjs"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["./cypress/**/*.ts"],
      "rules": {
        "jest/expect-expect": "off",
        "import/extensions": "off"
      },
      "settings": {
        "import/resolver": {
          "typescript": "./cypress/tsconfig.json",
          "node": {
            "extensions": [".ts", ".tsx", ".js", ".jsx"]
          }
        }
      }
    }
  ]
}
