
**/.DS_Store
**/*.icloud
**/node_modules
**/.bit
public/bit
public/bit/*
**/package-lock.json
**/install-state.gz
docs/*
coverage/*
.env
malty/*/*/lib
.npmrc

# Cypress
cypress/videos/
cypress/snapshots/actual/
cypress/snapshots/diff/
cypress/downloads/
